.intro__dreams {
  width: 400px;
  max-width: 100%;
  margin: 75px 0 0 50px;
}

@media screen and (max-width: 760px) {
  .intro__dreams {
    align-self: center;
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 470px) {
  .intro__dreams {
    margin: 0;
    padding-top: 60px;
  }
}