.card_section-text {
  padding-top: 130px;
  width: 282px;
  margin: 0;
}

.card_section-text:nth-child(3) {
  padding-top: 20px;
}

.card_section-text:nth-child(4) {
  padding-top: 20px;
}

@media screen and (max-width: 650px) {
  .card_section-text {
    padding-top: 30px;
    margin: 0 auto;
  }

  .card_section-text:last-child {
    padding-bottom: 20px;
  }
}