.header__item + .header__item {
  margin-left: 25px;
}

@media screen and (max-width: 470px) {
  .header__item {
    margin: 0 auto;
    padding-top: 30px;
  }

  .header__item:nth-child(2) {
    margin: 0 auto;
    padding-top: 10px;
  }

  .header__item:nth-child(3) {
    margin: 0 auto;
    padding-top: 10px;
  }
}